p {
    border: 2px solid red;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: lightgrey;
}

.div{
    border: 2px solid blue;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: lightyellow;
}