BODY {
    margin: auto;
    padding: 0px;
    background: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    text-align: center;
}

#wrap {
    background: #ffffff;
    margin: auto;
    width: 900px;
    height: auto;
    text-align: left;
}

header {
    background: url(images/header.jpg) no-repeat center;
    height: 181px;
    width: 900px;
    margin: 0 auto;
    margin: 0 auto;
    position: relative;
    background-size: cover;
}

#logo {
    padding: 20px 0 0 50px;
}

#menu_top {
    position: absolute;
    bottom: 10px;
    right: 20px;
    margin-top: 55px;
    margin-left: 30px;
    background: #fff;
    height: 40px;
    opacity: 0.8;
    border-radius: 10px 0px 0px 10px;
    padding: 8px 20px;
}

.level1 {
    clear: both;
    list-style-type: none;
    /* padding-top: 12px;
    opacity: 1.0;
    color: #000;
    position: relative; */
    margin: auto;
    padding: auto;
}

.level1 li {
    display: inline;
    float: left;
    padding: 0px 20px 0px 0px;
    height: 27px;
    font-weight: bold;
    margin-right: 15px;
}

.level1 li a,
.level1 li a:visited {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.level1 li a:hover {
    color: green;
}

.level2 {
    display: none;
    position: absolute;
    padding: 0px;
    margin-top: 5px;
    background: #eee;
    border: 1px solid #aaa;
}

.level1 li:hover>.level2 {
    display: block;
}

.level2 li {
    float: none;
    position: relative;
    display: block;
    padding: 10px;
    height: auto;
    background: #ccc;
}

.level2 li:hover {
    background: #cc0;
}

#welcome {
    background: #fff;
    padding: 8px;
    vertical-align: middle;
    border: dotted 2px #9C0;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

#center_content {
    background: url(images/center_bg.gif) repeat-y #fff;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
}

#center_content #left {
    width: 500px;
    min-height: 200px;
    float: left;
}

.title {
    color: #B81F22;
    float: left;
    margin: 10px 10px 10px 15px;
}

.product {
    border-bottom:dashed 1px #ccc;
    float:left;
    margin-top: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}
.product .img {
    clear:both;
    float:left;
    margin-left:20px;
}
.product .description {
    float: right;
    width: 295px;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: left;
    border: solid 1px #ddd;
}
.product .name {
    color: #B81F22;
    font-weight: bold;
}
.product .about {
    text-align: justify;
}
#center_content #right {
    width: 380px;
    min-height: 200px;
    float: right;
}
#promotion {
    float: left;
    width: 170px;
}
.product_small {
    margin-bottom: 15px;
    text-align: center;
}
.product_small .name {
    text-align: center;
    color: #666;
    margin: 0 auto;
}
.product_small .img {
    border-radius: 5px;
    border: solid 1px #ddd;
    text-align: center;
    padding: 10px;
    width: 132px;
    float: left;
    margin: 0 auto;
}
#categories {
    float: right;
    width: 180px;
    margin-right: 20px;
}
.menu_right {
    list-style-type: none;
    list-style-image: url(images/left_menu_bullet.gif);
}
.menu_right li {
    padding: 5px 5px 5px 10px;
    border-bottom: dashed 1px #ccc;
    font-weight: bold;
    text-align: left;
}
#footer {
    background: url(images/footer_bg.gif) no-repeat bottom;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    font-size: 11px;
    color: #555;
    overflow: hidden;
    height: 100px;
    border-top: dashed 1px #ccc;
}
#footer .left {
    float: left;
    text-align: left;
    width: 600px;
    padding: 10px 10px 10px 20px;
    color:#666;
}
#footer .right {
    float: right;
    padding: 10px 20px 10px 10px;
}
/* 
1 K hiện ảnh ở navigation 
2 Chữ k lệch sang trái 
3 flower category có vấn đề
4 promotion cũng có vấn đề */