@charset "utf-8";
.menu div{
    width: 150px;
    height: 32px;
    background: -webkit-linear-gradient(top, #333,#999,#000) repeat-x;
    background: -o-linear-gradient(top,#333,#999,#000) repeat-x;
    background: -ms-linear-gradient(top,#333,#999,#000) repeat-x;
    background: -moz-linear-gradient(top,#333,#999,#000) repeat-x; 
    border-radius: 20px 20px 20px 20px; 
    /* or border-radius: 20px: bo trong 4 góc
        background: -webkit-linear-gradient(...) : Tạo nền chuyển màu (gradient) cho Chrome/Safari
        -o-, -ms-, -moz-: Giúp tương thích với trình duyệt khác
        repeat-x: lặp gradiant theo chiều ngang
    */
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    text-transform: uppercase;
}

.menu ul {
    list-style: inside url(../Week7/bullet.png);
    box-shadow: 5px 5px 10px black;
    border: 1px solid black;
    /* solid: viền */
    width: 148px;
    margin: 0px;
    padding: 0px;
}

.menu li {
    padding:5px;
    width:138px;
    cursor:pointer;
    text-transform: capitalize;
}

.menu li:hover {
    background-color: #ff9;
    font-weight: bold;
    color: red;
}